<div class="container">
  <div class="container-fluid bg-dark text-white">
    <div class="jumbotron">
        <h1 class="text-center">QUOTES WEBSITE</h1>
        <h3 class="text-center">A place to get a</h3>
        <h2 class="text-center">QUOTE</h2>
        <h3 class="text-center">Daily.</h3>
        <h6 class="text-center">Yes, we Can, Barack Obama.</h6>
        <hr>
        </div>
<div class="container-fluid">
    <h2>Inspiration Corner</h2>
    <p>Get inspired with our collection of quotes</p>
    <div class="row">
      <div class="col-md-6">
        <ul>
            <li class="list" *ngFor='let quote of quotes; let i=index' >
              {{quote.genre}}
          <div>
              <button class="btn" (click)='toggleDetails(i)'>VIEW QUOTE</button>
            </div>
              <app-quote-description *ngIf='quote.showQuote' [quote]="quote" (isComplete)="quoteComplete($event,i)" ></app-quote-description>
            </li>
          </ul>

      </div>
      <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
</div>